@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

html,
body {
    font-family: 'Roboto', sans-serif;
    color: rgba(224, 219, 219, 0.705);
    background: url(../img/gallerybg.jpg)center/cover fixed no-repeat;
    /* overflow-x: hidden; */
}
body{
    overflow-x: hidden;
}

.cursive {
    font-family: 'Courgette', cursive;
}

.info {
    background: rgb(224, 219, 219);

}

.primary-color {
    color: rgb(0, 0, 0)
}

.secondary-color {
    color: rgb(252, 33, 153);
}
.white-color{
    color: #fff;
}

.info h2 {
    word-spacing: 0.6rem;
    font-weight: 700;
}

.info a {
    transition: color 0.5s ease-in-out;
}

.info a:hover {
    color: rgb(253, 197, 10);
}
/* Lazy load */
#menu.lazy2{
    background-image: none;
     background-color: #F1F1FA;
  }
.fade-in{
    opacity: 0;
    
    transition: all 750ms ease-in;
}
.fade-in.appear{
   
    opacity: 1;
}



/* Header Section */
#header {
    
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/headerbg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: calc(100vh - 108px);
    position: relative;
    
}

.height-90 {
    min-height: calc(100vh - 108px);
}

.banner h1 {
    border-top: 6px dotted rgba(224, 219, 219, 0.705);
    border-bottom: 6px dotted rgba(224, 219, 219, 0.705);
    animation: fromLeft;
    animation-duration: 4s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;

}

.container2 {

    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);

}

.main-btn {
    color: rgb(252, 33, 153);
    font-size: 2rem;
    border: 2px solid rgb(252, 33, 153);
    transition: all 1s ease-in-out;
}

.sushi-btn {
    animation: fromRight;
    animation-duration: 4s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.main-btn:hover {
    color: #242424;
    border: 2px solid rgba(224, 219, 219, 0.705);
    background: rgba(224, 219, 219, 0.705);
}

.header-link {
    display: inline-block;


    background: rgba(224, 219, 219, 0.705);
    border-radius: 10px;
    transition: all 2s ease;
    animation: fromBottom;
    animation-duration: 4s;
    animation-iteration-count: infinite;


}

.header-link:hover {
    color: #242424;
}

/* Gallery */
.item-image {
    height: 240px;
    width: 350px;
    transition: all 2s ease;
}

.item-container {
    position: relative;
    /* For Link to make it center */
    overflow: hidden;
    /* for zoom in so it wont overflow the container */
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    transition: all 2s ease;
    border-radius: 0.25rem;
}

.item-container:hover .item-image {
    transform: scale(1.2);
    opacity: 0.5;
}

.item-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(252, 33, 153);
    font-size: 2.5rem;
    border-top: 3px solid rgb(252, 33, 153);
    border-bottom: 3px solid rgb(252, 33, 153);
    transition: all 2s ease;
    opacity: 0;
}

.item-container:hover .item-link {
    opacity: 1;
}

.item-link:hover {
    color: #242424;
    border: 3px solid rgba(224, 219, 219, 0.705);

    background: rgba(224, 219, 219, 0.705);
}

.item-container:hover {
    outline: 10px solid rgb(252, 33, 153);
    outline-offset: -0.5rem;
}

/* Menu Items */
#menu {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/menubg.jpg)center/cover fixed no-repeat;
}

.white-color {
    color: #fff;
}

.special {
    border: 3px solid #d3325f;
    position: relative;
}

.special-text {
    position: absolute;
    top: 0;
    right: 10%;
    background: #d3325f;
    padding: 0 0.4rem;
}
.menu-btn{
    font-size: 2.5rem !important;
    margin: 20px 30px;
    color: rgb(177, 180, 180)!important;
}
.menu-btn:hover{
  color: rgb(252, 33, 153)!important;
}
.active-btn{
    color: rgb(255, 255, 255) !important;
  
}

/* About Section */
.about-pictures {
    position: relative;
}

.about-image {
    position: absolute;
    width: 150px;
    transition: all 1s ease;
    opacity: 0.9;
}

.img-1 {
    left: 0%;
    top: 0%;
}

.img-2 {
    left: 20%;
    top: 20%;
    z-index: 10;
}

.img-3 {
    left: 40%;
    top: 45%;
    z-index: 20;
}

.img-4 {
    left: 40%;
    top: 0%;

}

.img-5 {
    left: 0%;
    top: 45%;

}

/* About Hover Effect */
.about-image:hover {
    box-shadow: 0 0 3pt 2pt #F18357;

    transform: scale(1.3) rotate(20deg);
    /* outline-offset: -0.3rem; */
    z-index: 30;
    opacity: 1;
}

.about-pictures:hover .about-image:not(:hover) {
    opacity: 0.5;
}

/* Review Section */
.review-img {
    width: 150px;
    height: 150px;
}

.review-item {
    background: rgba(255, 255, 255, 0.7);
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
    position: relative;

}

/* Team */
/* .chef-img{
    height: 250px;
    width: 290px;
    background-image: url(../img/person2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
 
} */
.team-icons a {

    transition: all 0.5s ease-in-out;
}

.team-icons a:hover {
    color: rgb(252, 33, 153);
    transform: translateY(-5px);
}



#team .card {
    border: none;
}

/* Contact Section */

.height-60 {
    min-height: 60vh;
}

#contact .card {
    background: rgba(214, 204, 204, 0.7);
    transition: all 2s ease;
}

#contact .card:hover {
    background: rgba(214, 204, 204, 0.9)
}

#contact .card-header {
    color: rgb(0, 0, 0);
}

#contact .input-group-text {
    background: rgb(252, 33, 153);
    border-color: rgb(252, 33, 153);
    color: #242424;
}

#contact .card input {
    color: #606060;
}

#contact .card input::placeholder {
    color: #606060;
}

.contact-btn {
    color: #d3325f;
    border-color: #d3325f;
    background: transparent;
    transition: all 2s ease;

}

.contact-btn:hover {
    background: #c9c1ac;
    color: rgb(252, 33, 153);
    border-color: #c9c1ac;
}

/* Navbar */

.navbar {
    background: rgb(224, 219, 219);
    padding: 20px 20px;
    margin-top: -1px;
    transition: all 1s ease;
}

.navbar-background {
    padding: 5px 20px;
}

.navbar-brand {
    font-size: 30px;
    transition: all 1s ease;

}

.navbar-brand:hover {
    color: #242424;
}

.nav-link {
    color: #242424;
    text-decoration: none;
    transition: all 0.5s ease;
    font-size: 25px;
}

.nav-link:hover {
    color: rgb(252, 33, 153);
}

.nav-btn {
    background: transparent;
    color: #d3325f;
    border: 2px solid #d3325f;
    font-size: 20px;
    transition: all 1s ease;
}

.nav-btn:hover {
    color: #242424;
    border: 2px solid #242424;
    transform: scale(1.1);
}

.toggler-btn {
    border: none;
    padding: 5px;
    transition: all 1s ease;
}

.bar {
    width: 30px;
    height: 3px;
    margin: 5px;
    background: #d3325f;
    transition: all 0.5s ease;
}

.change .bar1 {
    /* transform: rotate(-45deg) translate(-4px,6px); */
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    /* transform: rotate(45deg) translate(-5px,-6px); */
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

/* Default case */
.navbar-toggler .collapsed .bar1 {
    transform: rotate(0);
}

.navbar-toggler .collapsed .bar2 {
    opacity: 1;
}

.navbar-toggler .collapsed .bar3 {
    transform: rotate(0);
}



/* Social Icons Colors */
.facebook {
    color: #3b5998;
}

.twitter {
    color: #00aced;
}

.instagram {
    color: #bc2a8d;
}

.yelp {
    color: #D32323;
}
/* Modal */
#modal-title{
    font-size: 2rem;
}
.modal-text{
    font-size: 1.5rem;
}

/* Loader */
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #fa9eeb 100%);
	

	flex-direction: column;

	min-height: 100vh;
	font-family: 'Lato', sans-serif;
	margin: 0;
}

.cat{
    display: flex;
}
.cat-bg{
    transform: translate3d(0);
    animation: bounce 0.6s infinite alternate;
}
.cat-bg img{ 
    height: 100px;
}
.loader .cat .cat-bg:nth-child(2){
   
    animation-delay: 0.2s;
}
.loader .cat .cat-bg:nth-child(3){
    
    animation-delay: 0.4s;
}


@keyframes bounce{
    to{
        
        transform: translate3d(0,-20px,0);
    }
}

/* Animations */

@keyframes fromLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    50% {
        transform: translateX(30px);

    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fromRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    50% {
        transform: translateX(-30px);

    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}






/* Bounce */
@keyframes fromBottom {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}